li:hover, button:hover{
		cursor:pointer;
} 

#contact h2, #about h2{
	font-family:"Cambria";
	letter-spacing: 2px;
	color:#b20a0a;
}

.text-center{
	text-align:center;
}

#googleMap{
	height:400px;
}

.slideanim {
	visibility:hidden;
}

.slide {
    animation-name: slide;
    animation-duration: 1s; 
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}

#footer_bottom{
    background-color:#e51c19;
    width:100%;
    text-align:center;
    color:white;
}