.login, .signup {
    padding: 19px 29px 29px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 30px;
}

.login, .signup, .login>h2, .signup>h2{
    font-family:"Cambria";
	letter-spacing: 2px;
	color:#b20a0a;
}

.short{
  border: 2px solid maroon !important;
}

.poor{
  border: 2px solid red !important;
}

.bad{
  border: 2px solid orange !important;
}

.good{
  border: 2px solid yellow !important;
}

.strong{
  border: 2px solid green !important;
}
