.login, .signup {
    padding: 19px 29px 29px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 30px;
}

.login, .signup, .login>h2, .signup>h2{
    font-family:"Cambria";
	letter-spacing: 2px;
	color:#b20a0a;
}

.short{
  border: 2px solid maroon !important;
}

.poor, .success{
  border: 2px solid red !important;
}

.bad{
  border: 2px solid orange !important;
}

.good{
  border: 2px solid yellow !important;
}

.strong{
  border: 2px solid green !important;
}

.accountModal {
    font-family: 'Varela Round', sans-serif;
  }

.modal-confirm {    
  color: #636363;
  width: 325px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  border-bottom: none;   
      position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px; 
}

.modal-confirm .close {
      position: absolute;
  top: -5px;
  right: -5px;
} 

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
} 

.modal-confirm .icon-box {
  color: #fff;    
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #e51c19;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

  .modal-confirm .btn {
      color: #fff;
      border-radius: 4px;
  background: #e51c19;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
      border: none;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #b20a0a;
  outline: none;
}
